* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Code Pro', monospace;
  line-height: 1;
}

html, body {
  background-color: #000;
}

.s-gpu {
  will-change: transform;
}

.js-height {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
}

.l-texts {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.l-texts .item {
  background-color: #000;
  padding: 2vw;
  font-size: 7.5vw;
  color: #FFF;
  text-align: right;
}

.l-debug {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  color: #FFF;
  font-size: 12px;
  display: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}





.l-info {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.l-info p {
  font-size: 14px;
  color: inherit;
  background-color: #000;
  padding: 5px 20px 5px 20px;
}
.l-info a {
  color: inherit;
  text-decoration: line-through;
}
.l-info a:hover {
  text-decoration: none;
}

@media screen and (max-width:768px) {
  .l-info {
    justify-content: flex-start;
    margin-top: 20px;
    height: auto;
  }
  .l-info p {
    font-size: 10px;
  }

  .l-texts .item {
    padding: 4vw;
    font-size: 15vw;
  }
}